<!DOCTYPE HTML>
<html>
   <head>
      <link rel="stylesheet" href="{{ .Site.BaseURL }}/site.css">
      <link rel="stylesheet"
            href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
      <script>hljs.initHighlightingOnLoad();</script>
      <title>{{ .Title }}</title>
   </head>
   <body>
      <div class="header-container">
         <div class="header-nav">
            <ul class="site-nav">
               {{ with .Site.Params.gitlab }}
               <li class="site-nav-item"><a class="btn btn-primary btn-lg" href="{{ . }}" role="button">View on GitLab</a></li>
               {{ end }}
               {{ range .Site.Menus.main.ByWeight }}
               <li class="site-nav-item"><a title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a></li>
               {{ end }}
            </ul>
         </div>
         <h1>{{ .Site.Title }} </h1>
      </div>
