
body {
   background: #fff;
   font-family: arial, sans-serif;
   max-width: 980px;
   margin: 0 auto !important;
}

.nav-list {
   list-style: none;
}

.site-nav-item {
   display: inline-block;
}

a {
   text-decoration: none;
   color: #a11;
}

.site-nav-item a {
   background: #004990;
   color: #fff;
   padding: 6px;
}

.header-nav {
   float: right;
   margin: auto;
}

